.inputPillContainer {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 5px;
}

.inputPillContainer button {
  border: 2px solid #ccc;
  background-color: #fff;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #000;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.inputPillContainer button:hover {
  border-color: #a08ae5;
  box-shadow: 0 0 0 3px rgba(160, 138, 229, 0.25);
  outline: none;
}

.inputPillContainer button:focus {
  border-color: #a08ae5;
  box-shadow: 0 0 0 3px rgba(160, 138, 229, 0.25);
  outline: none;
}

