.defaultContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 755px;
  height: 130px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: defaultContainer 1s forwards;
  background-color: #c3bfbf;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  color: #000;
  gap: 20px;
}

@keyframes defaultContainer {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.95;
  }
}

.contactoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0 20px;
  height: fit-content;
  width: 40%;
}

.contactoContainer img {
  width: 50px;
  height: auto;
}